.background {
    background-image: url(../img/Background2.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    position: fixed;
    height: 100%;
    left: 0px;
    right: 0px;
    z-index: -1;
}